
<header>

<!-- 	<nav -->
<!-- 		class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse"> -->
<!-- 		<a class="navbar-brand" href="#"></a> -->
<!-- 		<button class="navbar-toggler" type="button" data-toggle="collapse" -->
<!-- 			data-target="#navbarCollapse" aria-controls="navbarCollapse" -->
<!-- 			aria-expanded="false" aria-label="Toggle navigation"> -->
<!-- 			<span class="navbar-toggler-icon"></span> -->
<!-- 		</button> -->
<!-- 		<div class="collapse navbar-collapse" id="navbarCollapse"> -->
<!-- 			<ul class="navbar-nav mr-auto"> -->
<!-- 				<li class="nav-item active"><a class="nav-link" href="#">Home
<!-- 						<span class="sr-only">(current)</span> -->
<!-- 				</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#"></a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 			<form class="form-inline col-lg-8"> -->
<!-- 				<input class="form-control mr-sm-2" type="text" placeholder="Search" -->
<!-- 					aria-label="Search"> -->
<!-- 				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
<!-- 			</form> -->
<!-- 		</div> -->
<!-- 	</nav> -->
	
	<nav class="navbar navbar-expand-md navbar-dark fixed-top-2 bg-dark">
		<a class="navbar-brand pad" href="#">Technosoft Quiz</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
<!-- 				<li class="nav-item active"><a class="nav-link" href="#">Home -->
<!-- 						<span class="sr-only">(current)</span> -->
<!-- 				</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">Liiiiiiink</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a> -->
<!-- 				</li> -->
				
				
			</ul>
			<!-- <form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
		
<!-- 		<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown"> -->
<!--     <button class="btn btn-outline-success" ngbDropdownToggle>Register/Login</button> -->
<!--     <div class="dropdown-menu" ngbDropdownMenu> -->
<!--       <button class="dropdown-item lead" (click)="logout()">Logout</button> -->
<!--       <a class="dropdown-item lead" routerLink = "/register">Register</a> -->
<!--       <a class="dropdown-item lead" routerLink = "/appointment">Login</a> -->
<!--       <button class="dropdown-item">Login</button> -->
<!--     </div> -->
<!--   </div> -->
		 
		
	</nav>


</header>